@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@400;700&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body { 
  display:flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: hsl(47, 88%, 63%);
  font-family: "Figtree", sans-serif;
  font-size: clamp(0.5rem, 2vw, 1rem);
  font-weight:500, 800;
}

main{
  display: flex;
  justify-content: center;
}

.card{
  box-shadow: 5px 5px 5px 5px;
  background-color: white;
  padding: 15px;
  border-radius: 3%;
  width: 60%;
}

.illustration-article{
  width: 100%;
  border-radius: 3%;
}

.learningbtn{
  background-color: hsl(47, 88%, 63%);
  padding: 5px;
  border: none;
  margin: 17px 0px 10px 0px ;
  font-weight: bold;
}

.card h1{
  margin:10px 0px 10px 0px;
}

.card h1:hover{
  color: hsl(47, 88%, 63%);
}

.card p:nth-of-type(1) {   /* date*/
  color: hsl(0, 0%, 7%);
}

.card p:nth-of-type(2) {  /* main paragraph*/
  color:  hsl(0, 0%, 42%);
  margin:20px 0px 20px 0px;
}

.card-footer  {
  display: flex;
  align-items: center;
}


.card-footer p {
  font-weight: bold;
  margin-left: 10px;
}
